.sticky-nav {
    position: sticky;
    top: 0;
}

/* Item still on the page, but essentially invisible */
.hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
}
